.input {
	font-family: 'Inter', sans-serif;
	font-size: 15px;
	height: 52px;
	width: 364px;
	font-style: normal;
	border: none;
	font-weight: normal;
	background: rgba(255, 255, 255, 80%);
	border-radius: 8px;
	padding: 17px 48px;
	&::placeholder {
		font-family: 'Inter', sans-serif;
		color: #1C1C1C;
	}
}

.invalid {
	border: 1px solid red;
	background-color: rgb(255, 189, 189);
}
