.settings {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	button {
		margin-top: 40px;
	}
}

.top-info {
	display: flex;
	align-items: center;
}

.editable-fields {
	margin-top: 38px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 32px;
	column-gap: 46px;
}

.edit-field {
	p {
		margin-bottom: 10px;
		font-size: 14px;
	}
}

.error-message {
	background-color: #ffeeee;
	border: 1px solid #ffcccc;
	color: #cc0000;
	padding: 12px;
	border-radius: 4px;
	font-size: 14px;
}

.success-message {
	background-color: #eeffee;
	border: 1px solid #ccffcc;
	color: #00cc00;
	padding: 12px;
	border-radius: 4px;
	font-size: 14px;
}
