.container {
	display: flex;
	gap: 20px;
}

.left-side {
	display: flex;
	flex-direction: column;
	gap: 10px;
	text-wrap: nowrap;
}

.name {
	margin-top: 10px;
}

.follows {
	display: flex;
	gap: 10px;
}

.follow-link {
	text-decoration: none;
	color: inherit;
	transition: color 0.2s ease;

	&:hover {
		color: var(--main-theme);

		.follow,
		.following {
			color: var(--main-theme);
		}
	}
}

.follow,
.following {
	cursor: pointer;
	transition: color 0.2s ease;
}

.right-side {
	width: 100%;
	& > h2 {
		margin-left: 10px;
		margin-bottom: 30px;
	}
}

.publications {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
