.security {
	display: flex;
	flex-direction: column;
}
.field-button {
	display: flex;

	&:not(:first-child) {
		margin-top: 32px;
	}
}

.edit-field {
	p {
		margin-bottom: 10px;
		font-size: 14px;
	}

	button {
		margin-left: 40px;
	}
}
