.subscribes-container {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.search-bar {
	display: flex;
	gap: 10px;
	margin-bottom: 20px;
}

.subscribes-list {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.load-more {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}
