/* Кнопка-бургер */
.burger {
	width: 30px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	justify-content: space-between;
	height: 22px;
}

.burger-line {
	height: 2px;
	width: 100%;
	background-color: var(--main-theme);
}

/* Сайдбар */
.side-menu {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 250px;
	padding: 80px 20px 40px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	border-right: 2px solid #5882c1;
	background-color: rgba(88, 130, 193, 0.15);
	backdrop-filter: blur(5px);
	border-radius: 0 8px 8px 0;
	transform: translateX(-100%);
	transition: transform 0.3s ease;

	a {
		font-family: 'Inter';
		display: block;
		color: black;
		padding: 12px 25px;
		border-radius: 5px;
		text-decoration: none;
		font-size: 20px;
		margin: 5px 0;
		transition: background 0.3s;

		&:hover {
			background-color: rgba(88, 130, 193, 0.3);
		}

		&[aria-current='page'] {
			color: var(--main-theme);
		}
	}

	button {
		font-size: 20px;
		font-weight: normal;
		margin-top: auto;
		background-color: rgba(88, 130, 193, 0.5);
	}
}

.open {
	transform: translateX(0);
}

.close-btn {
	box-sizing: initial;
	position: absolute;
	top: 23px;
	right: 23px;
	width: 23px;
	height: 23px;
	padding: 9px;
	cursor: pointer;

	&:hover {
		fill: orange;
		color: orange;
	}
}
